body {
  background-color: #1f1f25;
  font-family: "Roboto Mono", monospace;
}

@media (min-width: 1540px) {
  .offcanvas {
    position: static;
  }
}

.conteudo {
  margin-left: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  align-items: center;

  & img {
    height: 300px;
    width: 500px;
    border: 3px solid #27305c;
    border-radius: 20px;
    background-color: #27305c;
  }
  & img:hover {
    opacity: 0.9;
  }
  & table {
    color: white;
    width: 600px;
    & #titlu {
      font-weight: bold;
      font-size: large;
    }
    & tbody {
      & th {
        text-align: left;
        padding-right: 10px;
      }
    }
  }
}

.descricao {
  padding-left: 20px;

  & tr,
  td {
    border: 1px solid;
    border-radius: 5px;
  }
}

.conteudop2 {
  height: 100vh;
  width: 100%;
  background-color: #1f1f25;
  display: flex;
  align-items: end;
  justify-content: end;

  & .texto {
    width: 85.7vw;
    height: 100%;
    padding: 10px;
    padding-right: 30px;
    position: fixed;
    right: -5px;
    color: #ccc;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.589),
      rgb(0, 0, 0)
    );

    & #texto {
      width: 40vw;
      align-self: flex-end;
    }
    & h2 {
      align-self: flex-end;
    }
    & #audio {
      width: 15vw;
      align-self: flex-end;
      background-color: #1f1f2567;
    }
  }
  & .background-video {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
  }
}

.foot {
  display: block;

  z-index: 2;
  background-color: #1d1d36;
  height: 20vh;
  padding: 50px;
  text-align: justify;
  padding-left: 20vw;
  & p {
    color: white;
    margin: 0.5rem 0;
  }
}

.sidebar {
  width: 17vw;
  height: 100vh;
  background-color: #27305c;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  padding-right: 50px;
  color: white;

  & h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  & ul {
    list-style: none;

    & li {
      padding-left: 20px;
      padding: 15px;
      padding-right: 20px;
      border-radius: 5px;
      transition: 0.3s;

      & a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    & li:hover {
      background-color: #023e8a;
    }
  }

  & #p2 {
    position: fixed;
    transform: translate(0%, 50vh);
  }
}
